.navbar {
	margin-bottom: 15px;	
}

.card {	
	margin-left: 10px;
	margin-right: 10px;
}

.alert {	
	margin-left: 10px;
	margin-right: 10px;
}

.dc-titulo-card {
	padding-top: 4px;   
}

.pencil {
	content: url("./../images/glyphicons-31-pencil.png");
	width: 14px;
	height: 14px;
}

.bin {
	content: url("./../images/glyphicons-17-bin.png");
	width: 14px;
	height: 14px;
	margin-left: 6px;
}