.navbar {
	margin-bottom: 15px;	
}

.card {	
	margin-left: 5px;
	margin-right: 5px;
}

.alert {	
	margin-left: 5px;
	margin-right: 5px;
}

.dc-titulo-card {
	padding-top: 4px;   
}

.pencil {
	width: 14px;
	height: 14px;
	display: inline-block;
	background: url("./../images/glyphicons-31-pencil.png");
	background-size: 14px;
}

.bin {
	width: 14px;
	height: 17px;
	display: inline-block;
	background: url("./../images/glyphicons-17-bin.png");
	background-size: 14px;
	margin-left: 6px;	
}

.check {
	width: 16px;
	height: 13px;
	display: inline-block;
	background: url("./../images/glyphicons-153-check.png");
	background-size: 16px;
	margin-left: 6px;
}

.searchButton {
	width: 14px;
	height: 14px;
	display: inline-block;
	background: url("./../images/glyphicons-28-search.png");
	background-size: 14px;
}

/* CSS exclusivo para telas maiores que 768px */
@media (min-width: 768px) {
	.card {	
		margin-left: 10px;
		margin-right: 10px;
	}
	
	.alert {	
		margin-left: 10px;
		margin-right: 10px;
	}	
}