<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="LayoutPadrao">
<head>
	<title>Cadastro de título</title>
</head>
<section layout:fragment="conteudo">
	<form method="POST" action="/titulos" th:object="${titulo}">	

		<span layout:include="MensagemSucesso"></span>
		<span layout:include="MensagemErro"></span>
				
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col">
						<h4 class="dc-titulo-card">Novo título</h4>
					</div>
					<div class="col text-right">
						<a class="btn btn-link" href="/titulos/"><strong>Voltar para pesquisa</strong></a>
					</div>			
				</div>				
			</div>
			<div class="card-body">
				<input type="hidden" th:field="*{codigo}"/>	
				<div class="form-group row" th:classappend="${#fields.hasErrors('descricao')} ? has-danger">
					<label for="descricao" class="col-sm-2 col-form-label">Descrição</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="descricao" th:field="*{descricao}"/>
					</div>
				</div>
				<div class="form-group row" th:classappend="${#fields.hasErrors('dataVencimento')} ? has-danger">
					<label for="dataVencimento" class="col-sm-2 col-form-label">Data de vencimento</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="dataVencimento" th:field="*{dataVencimento}"
						data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR"
						data-date-autoclose="true" data-date-today-highlight="true"/>
					</div>
				</div>		
				<div class="form-group row" th:classappend="${#fields.hasErrors('valor')} ? has-danger">
					<label for="valor" class="col-sm-2 col-form-label">Valor</label>
					<div class="col-sm-2">
						<input type="text" class="form-control js-currency" id="valor" th:field="*{valor}"/>
					</div>
				</div>
				<div class="form-group row">
					<label for="status" class="col-sm-2 col-form-label">Status</label>
					<div class="col-sm-2">
						<select class="form-control" id="status" th:field="*{status}">
							<option th:each="status : ${statusTituloList}" th:value="${status}" th:text="${status.descricao}"></option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-2"></div>
					<div class="col-sm-2">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>				
			</div>
		</div>								
	</form>
</section>
</html>