<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="LayoutPadrao">
<head>
	<title>Pesquisa de títulos</title>
</head>
<section layout:fragment="conteudo">
	<div class="card">
		<div class="card-header">
			<div class="row">
				<div class="col">
					<h4 class="dc-titulo-card">Pesquisa de títulos</h4>
				</div>
				<div class="col text-right">
					<a class="btn btn-link" href="/titulos/novo"><strong>Novo título</strong></a>
				</div>			
			</div>
		</div>
		<div class="card-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center">#</th>
						<th>Descrição</th>
						<th class="text-center">Data de vencimento</th>
						<th class="text-right">Valor</th>
						<th class="text-center">Status</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="titulo : ${titulos}">
						<td class="text-center" th:text="${titulo.codigo}"></td>
						<td th:text="${titulo.descricao}"></td>
						<td class="text-center" th:text="${{titulo.dataVencimento}}"></td>
						<td class="text-right" th:text="|R$ ${{titulo.valor}}|"></td>
						<td class="text-center">
							<span class="badge" th:text="${titulo.status.descricao}"
								th:classappend="${titulo.pendente ? 'badge-danger' : 'badge-success'}"></span>
						</td>
						<td class="text-center">
							<a th:href="|/titulos/${titulo.codigo}|">
								<span class="pencil">x</span>
							</a>
						</td>
					</tr>
					<tr>
						<td colspan="6" th:if="${#lists.isEmpty(titulos)}">Nenhum título foi encontrado.</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>												
</html>